.name-box{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(212, 41, 41);
  border-radius: 0.4rem;
  min-height: 50vh;
  width: 100%;
  container-name: nameBox;
  container-type: inline-size;
}

@container nameBox (min-width: 600px) {
  .selected-name{
    font-size: 8em;
  }
}

@container nameBox (min-width: 100px) and (max-width: 599px) {
  .selected-name{
    font-size: 5em;
  }
}

@container nameBox (max-width: 5`99px) {
  .selected-name{
    font-size: 2.5em;
  }
}

.selected-name{
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-calendar-button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(102, 178, 255);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;  
  display: flex;
  justify-content: center;
}
.set-calendar-button:hover{
  background-color: rgb(76, 153, 230);
}

.view-calendar-text{
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.section-buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  min-width: 100%;
}

.section-toggle-button{
  flex: 1;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  border: none;
  background: #32305b;
  color: white;
  cursor: pointer;
  min-width: 24%;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}