.name-box{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(212, 41, 41);
  border-radius: 0.4rem;
}

.selected-name{
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.add-member-button{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(248, 96, 205);
  border-radius: 0.4rem;
  margin-top: 1rem;
  cursor: pointer;
}

.add-member-button:hover{
  background-color: rgba(248, 96, 205, 0.787);
}

.add-member-text{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.view-members-button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(102, 255, 102);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;  
  display: flex;
  justify-content: center;
}

.view-members-button:hover{
  background-color: rgb(76, 230, 76);
}

.view-members-text{
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}


.set-calendar-button{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(102, 178, 255);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;  
  display: flex;
  justify-content: center;
}
.set-calendar-button:hover{
  background-color: rgb(76, 153, 230);
}

.view-calendar-text{
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}