.name-box{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(212, 41, 41);
  border-radius: 0.4rem;
  min-height: 50vh;
  width: 100%;
  container-name: nameBox;
  container-type: inline-size;
}

@container nameBox (min-width: 600px) {
  .selected-name{
    font-size: 8em;
  }
}

@container nameBox (min-width: 100px) and (max-width: 599px) {
  .selected-name{
    font-size: 5em;
  }
}

@container nameBox (min-width: 5px) and (max-width: 99px) {
  .selected-name{
    font-size: 2.5em;
  }
}

.selected-name{
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}