html, body {
    height: 100%;
    margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111827;
  color: white;
}

.nav-bar {
  width: 100%;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.nav-left {
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-right {
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 0.4rem;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s ease;
}

.logout-box {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
  width: 50%;

  color: red;
  text-decoration: none;
  background: rgb(246, 243, 243);
  transition: background 0.2s ease;
}

.logout-box:hover {
  background: rgba(255, 0, 0, 0.1);
}



.nav-box:hover {
  background: rgba(0, 0, 0, 0.1);   
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
    color: #5c5050;
}

.nav-home {
  font-weight: 600;
  font-size: 1.125rem;
}

.page-content {
  flex: 1;
  padding: 1.5rem;
}


